.sa-cabecera{
  border-width: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(34%);
  width: 600px;
  height: 400px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.sa-espaciado {
  height: 250px;
  width: 100px;
}
.sa-espaciado-w {
  width: 100px;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
