
<div class="row">
  <div class="col-sm-6" align="center">
    <h1>Pokemon</h1>
    <h5 class="first">Numero pokemon</h5>
    <span class="ui-float-label">
      <input id="numeroPokemon" name="numeroPokemon" type="text" size="30" [(ngModel)]="numeroPokemon" pInputText #textoNumeroPokemon>
      <label for="numeroPokemon"></label>
        </span>

    <h5 class="first">Nombre del Pokemon</h5>
    <span class="ui-float-label">
      <input id="nombrePokemon" name="nombrePokemon" type="text" size="30" [(ngModel)]="nombrePokemon" pInputText #textoNombrePokemon>
      <label for="nombrePokemon"></label>
      </span>

    <h5 class="first">Poder especial uno</h5>
    <span class="ui-float-label">
      <input id="poderEspecialUno" name="poderEspecialUno" type="text" size="30" pInputText [(ngModel)] ="poderEspecialUno" #textoPoderUno>
      <label for="poderEspecialUno"></label>
        </span>

    <h5 class="first">Poder especial dos</h5>
    <span class="ui-float-label">
      <input id="poderEspecialDos" name="poderEspecialDos" type="text" size="30" pInputText [(ngModel)]="poderEspecialDos" #textoPoderDos>
      <label for="poderEspecialDos"></label>
      </span>

    <h5 class="first">Fecha de captura</h5>
    <span class="ui-float-label">
      <input id="fechaCaptura" name="fechaCaptura" type="text" size="30" pInputText [(ngModel)]="fechaCaptura" #textoFechaCaptura>
      <label for="fechaCaptura"></label>
        </span>

    <h5 class="first"> Nivel </h5>
    <span class="ui-float-label">
      <input id="nivel" name="nivel" type="text" size="30" pInputText [(ngModel)]="nivel" #textoNivel>
      <label for="nivel"></label>
        </span>


    <p-button (click)="limpiar1(textoNumeroPokemon,textoNombrePokemon, textoPoderUno, textoPoderDos, textoFechaCaptura, textoNivel)" label="Limpiar"></p-button>
    <p-button (onClick)="colocarDetalles(textoNumeroPokemon,textoNombrePokemon, textoPoderUno, textoPoderDos, textoFechaCaptura, textoNivel) "label="Crear"></p-button>

  </div>
  <div class="col-sm-6">
    <h1>CARD</h1>
    <p-card title="CARD">
      {{detalles}}
    </p-card>
  </div>
</div>









