
<div class="row">
  <div class="col-sm-6" align="center">
    <h1>Pokemon</h1>
    <h5 class="first">Numero pokemon</h5>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" [(ngModel)]="numeroPokemon" pInputText #textoNumeroPokemon>
      <label for="float-input"></label>
        </span>

    <h5 class="first">Nombre de la marca</h5>
    <span class="ui-float-label">
      <input id="float-input2" type="text" size="30" [(ngModel)]="nombrePokemon" pInputText #textoNombrePokemon>
      <label for="float-input2"></label>
      </span>

    <h5 class="first">Poder especial uno</h5>
    <span class="ui-float-label">
      <input id="float-input3" type="text" size="30" pInputText [(ngModel)] ="poderEspecialUno" #textoPoderUno>
      <label for="float-input3"></label>
        </span>

    <h5 class="first">Poder especial dos</h5>
    <span class="ui-float-label">
      <input id="float-input4" type="text" size="30" pInputText [(ngModel)]="poderEspecialDos" #textoPoderDos>
      <label for="float-input4"></label>
      </span>

    <h5 class="first">Fecha de captura</h5>
    <span class="ui-float-label">
      <input id="float-input5" type="text" size="30" pInputText [(ngModel)]="fechaCaptura" #textoFechaCaptura>
      <label for="float-input5"></label>
        </span>

    <h5 class="first"> Nivel </h5>
    <span class="ui-float-label">
      <input id="float-input6" type="text" size="30" pInputText [(ngModel)]="nivel" #textoNivel>
      <label for="float-input6"></label>
        </span>


    <p-button label="Limpiar"></p-button>
    <p-button (onClick)="colocarDetalles(textoNumeroPokemon,textoNombrePokemon, textoPoderUno, textoPoderDos, textoFechaCaptura, textoNivel) "label="Crear"></p-button>

  </div>
  <div class="col-sm-6">
    <h1>CARD</h1>
    <p-card title="CARD">
      {{detalles}}
    </p-card>
  </div>
</div>









