
<h1 align="center">Examen Primer Bimestre</h1>
<h2 align="center">Anatoa Erika</h2>

<div class="row">
  <div class="col-sm-6" >

    <app-cabecera>
    </app-cabecera>
  </div>
  <div class="col-sm-6">


    <h1 align="center">Maestro Pokemon</h1>
    <app-grilla *ngFor="let maestro of arregloMaestro" align="center"
        [nombres]="maestro.nombres"
        [apellidos]="maestro.apellidos"
        [fechaNacimiento]="maestro.fechaNacimiento"
        [numeroMedallas]="maestro.numeroMedallas"
        [campeonActual]="maestro.campeonActual"
        (dioClickEnEstado)="alertar($event)"
    >
    </app-grilla>
</div>
</div>

<app-detalle></app-detalle>
<app-tabla></app-tabla>
